#DIV_1 {
    bottom: 130.297px;
    color: rgb(60, 60, 56);
    cursor: pointer;
    height: 24.0469px;
    left: 83.1844px;
    position: fixed;
    right: 1597.88px;
    text-decoration: none solid rgb(60, 60, 56);
    top: 196.658px;
    width: 32.0625px;
    column-rule-color: rgb(60, 60, 56);
    perspective-origin: 16.0313px 12.0156px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 16.0313px 12.0156px;
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    margin: 0px 0px 0px -50.1111px;
    outline: rgb(60, 60, 56) none 0px;
    overflow: hidden;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    column-rule-color: rgb(60, 60, 56);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    column-rule-color: rgb(60, 60, 56);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    bottom: -175.953px;
    color: rgb(60, 60, 56);
    cursor: pointer;
    height: 200px;
    left: 0px;
    position: absolute;
    right: -167.938px;
    text-decoration: none solid rgb(60, 60, 56);
    top: 0px;
    width: 200px;
    column-rule-color: rgb(60, 60, 56);
    perspective-origin: 100px 100px;
    transform-origin: 100px 100px;
    caret-color: rgb(60, 60, 56);
    background: rgba(0, 0, 0, 0) url("http://sztafetapokolen.pl/img/bg.gif") repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    column-rule-color: rgb(60, 60, 56);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    column-rule-color: rgb(60, 60, 56);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#DIV_2:before*/

#svg_3 {
    color: rgb(60, 60, 56);
    cursor: pointer;
    height: 24.0469px;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    width: 32.0625px;
    column-rule-color: rgb(60, 60, 56);
    perspective-origin: 16.0313px 12.0156px;
    transform-origin: 16.0313px 12.0156px;
    user-select: none;
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
    overflow: hidden;
}/*#svg_3*/

#svg_3:after {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#svg_3:after*/

#svg_3:before {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#svg_3:before*/

#rect_4 {
    color: rgb(60, 60, 56);
    cursor: pointer;
    height: 1px;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    width: 36px;
    column-rule-color: rgb(60, 60, 56);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    fill: rgb(61, 61, 58);
    x: 26px;
    y: 29px;
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_4*/

#rect_4:after {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    fill: rgb(61, 61, 58);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_4:after*/

#rect_4:before {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    fill: rgb(61, 61, 58);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_4:before*/

#rect_5 {
    color: rgb(60, 60, 56);
    cursor: pointer;
    height: 1px;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    width: 12px;
    column-rule-color: rgb(60, 60, 56);
    perspective-origin: 0px 0px;
    transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -13.2444, 27.0251);
    transform-origin: 0px 0px;
    user-select: none;
    fill: rgb(61, 61, 58);
    x: 26px;
    y: 29px;
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_5*/

#rect_5:after {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    fill: rgb(61, 61, 58);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_5:after*/

#rect_5:before {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    fill: rgb(61, 61, 58);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_5:before*/

#rect_6 {
    color: rgb(60, 60, 56);
    cursor: pointer;
    height: 1px;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    width: 12px;
    column-rule-color: rgb(60, 60, 56);
    perspective-origin: 0px 0px;
    transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 28.4749, -9.74443);
    transform-origin: 0px 0px;
    user-select: none;
    fill: rgb(61, 61, 58);
    x: 26px;
    y: 29px;
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_6*/

#rect_6:after {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    fill: rgb(61, 61, 58);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_6:after*/

#rect_6:before {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    fill: rgb(61, 61, 58);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#rect_6:before*/

#circle_7 {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    user-select: none;
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(187, 187, 187);
    cx: 29px;
    cy: 29px;
    r: 22px;
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#circle_7*/

#circle_7:after {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(187, 187, 187);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#circle_7:after*/

#circle_7:before {
    color: rgb(60, 60, 56);
    cursor: pointer;
    text-decoration: none solid rgb(60, 60, 56);
    text-size-adjust: 100%;
    column-rule-color: rgb(60, 60, 56);
    user-select: none;
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(187, 187, 187);
    caret-color: rgb(60, 60, 56);
    border: 0px none rgb(60, 60, 56);
    font: normal normal 400 normal 25px / normal "Times New Roman";
    outline: rgb(60, 60, 56) none 0px;
}/*#circle_7:before*/

