html,
body,
#root,
#root > div {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}
a {
  color: #90a4ae;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none!important;
}

a:hover, a:visited {
  box-shadow: rgba(45, 35, 66, 0.3) 0px 7px 14px -3px,
  rgba(45, 35, 66, 0.4) 0px 2px 4px 0px,
  rgb(207, 209, 227) 0px -2px 0px 0px inset;
  border-radius: 20px;
  outline: #6d071a none 0px;
  color: #FFFFFF;
  transition: box-shadow 0.15s ease 0s, transform 0.15s ease 0s;
}

@font-face {
  font-family: Big John;
  src: url("assets/fonts/BIG JOHN.otf") format("opentype");
}

@font-face {
  font-family: Slim Joe;
  src: url("assets/fonts/Slim Joe.otf") format("opentype");
}

@font-face {
  font-family: Nectar Regular;
  src: url("assets/fonts/Nectar Regular.otf") format("opentype");
}

@font-face {
  font-family: Nectar Bold;
  src: url("assets/fonts/Nectar Bold.otf") format("opentype");
}

@font-face {
  font-family: MrAlex;
  src: url("assets/fonts/MrAlex/MrAlexRegular.ttf") format("truetype");
}

@font-face {
  font-family: MrAlexLight;
  src: url("assets/fonts/MrAlex/MrAlexLight.ttf") format("truetype");
}

.banner-mozart {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: background-image 2s ease-in-out;
  background-image: url("assets/img/mozartbannerpoly.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  opacity: 1;
}

.gradient-main {
  background-color: #fbfafa;
  opacity: 1;
  /*
  background: linear-gradient(
    134deg,
    rgb(230, 222, 217) 0%,
    rgb(253, 251, 251) 10%,
    rgb(255, 255, 255) 100%
  );
  */
}

/**
 OVERRIDES SEMANTIC
 */

/*
.ui.menu {
  z-index: 10000;
  opacity: 1;
}

.item .content div:hover {
  background-color: #eceff1;
}

.ui.menu {
  background-color: transparent;
}

.ui.small.vertical.menu {
  background-color: transparent;
  border: none;
}

.ui.vertical.menu .item > .label {
  background: #ff2400;
  border-radius: 20px;
}

.ui.small.compact.menu {
  background-color: whitesmoke;
}

.ui.grid {
  margin-left: -8px;
}

.background-collection-items {
  background-image: linear-gradient(#fdfbfb, #ebedee);
  box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.1);
}

.ui.medium.list .item .content div:hover, .ui.medium.list .content .item:hover {
  background: white;
  border-radius: 20px;
  background-image: linear-gradient(#fdfbfb, #d5d5d5);
  box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.1);
  font-weight: bold;
  margin-left: 5px;
}
*/

/*
.ui.menu {
  background-image: linear-gradient(#fdfbfb, #d5d5d5);
  box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0);
  opacity: 0.7;
  border-radius: 20px;
}

.ui.menu .item {
  font-weight: bold;
  font-size: small;
}*/

.brightness {
  background-color: #fafafa;
  display: inline-block;
  opacity: 0.3;
}
.brightness img:hover {
  filter: basicImage();
}

/*
.ui.menu {
  background-color: transparent !important;
  opacity: 1;
}

.ui.menu .item {
  background-color: transparent;
  opacity: 1;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped)
  thead
  tr:first-child
  th {
  padding: 2px;
}
*/

.composer-image::after {
  opacity: 0.1;
}

/*
.ui.menu .item:before {
  background-color: transparent;
  opacity: 1;
}
*/

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.hyperText a:link { color: #641c34; font-weight: bold}
.hyperText a:visited { color: #641c34; }
.hyperText a:hover { color: #641c34; }
.hyperText a:active { color: #641c34; }

.button-3d {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  text-align: left;
  text-decoration: none solid #6d071a;
  text-size-adjust: 100%;
  width: auto;
  will-change: box-shadow, transform;
  column-rule-color: #6d071a;
  align-items: center;
  justify-content: left;
  /*
    perspective-origin: 69.1406px 24px;
    transform-origin: 69.1484px 24px;
    */
  caret-color: #6d071a;
  color: black;
  background: rgba(0, 0, 0, 0);
  /*
  linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240)) no-repeat scroll 0%
  0% / auto padding-box border-box;
  border: 0px none #6d071a;
  */
  border-radius: 9999px 9999px 9999px 9999px;
  font: normal normal 400 normal 16px / normal Hind, Arial, sans-serif;
  list-style: outside none none;
  outline: #6d071a none 0px;
  padding: 5px;
  transition: box-shadow 0.15s ease 0s, transform 0.15s ease 0s;
}

.button-3d:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0px 7px 14px -3px,
  rgba(45, 35, 66, 0.4) 0px 2px 4px 0px,
  rgb(207, 209, 227) 0px -2px 0px 0px inset;
}
